$icomoon-font-family: "boiletplate" !default;
$icomoon-font-path: "fonts" !default;

$bp_star: "\e90a";
$bp_seach: "\e909";
$bp_up: "\e900";
$bp_right: "\e901";
$bp_close: "\e902";
$bp_down: "\e903";
$bp_facebook: "\e904";
$bp_instagram: "\e905";
$bp_left: "\e906";
$bp_newsletter-plane: "\e907";
$bp_twitter: "\e908";

