.hm-cpn {
    padding: 30px;
    padding-bottom: 0;
}
.Wrp {
    margin: 0 auto;
}
.copn-hdng {
    font-size: 32px;
}
.hm-cpn h1 {
   padding-left: 20px;
}
.cpn-wrpr {
    display: flex;
}
.cpns {
    width: 550px;
    margin: 10px;
    padding: 20px;
    padding-bottom: 0;
    position: relative;
    border-radius: 10px;
    transition: all linear 0.2s;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: .2);
}
.img-br {
    width: 120px;
    height: 120px;
    padding: 10px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: 2px solid #006780;
    margin-bottom: 20px;
}
.img-br img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cpns h4 {
    text-align: center;
    color: color(primaryTextColor);
}
.exclsv {
    top: 80px;
    font-weight: weights(bold);
    color: #FF5050;
    position: absolute;
}
.vrifid {
    top: 80px;
    right: 20px;
    font-weight: weights(bold);
    color: #29A745;
    position: absolute;
}
.cpn-btn {
    flex: 1;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    background-color: white;
    font-weight: weights(bold);
    color: color(primaryTextColor);
    border: 2px solid color(secondaryColor);
}
.cpn-btn::after {
    top: 0;
    left: 0;
    content: "";
    width: 136%;
    height: 628%;
    position: absolute;
    transition: all .6s ease-in-out;
    background: color(secondaryColor);
    transform: translateX(-88%) translateY(-25%) rotate(45deg);
}
.cpn-btn:hover::after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.cpn-btn:hover {
    color: white;
}
.cpn-txt {
    font-size: 16px;
    position: relative;
    z-index: 2;
}
.trm-wrp {
    text-align: center;
    font-size: 14px;
}
.t-wrp h5 {
    margin: 0;
    padding-top: 5px;
    color: color(primaryTextColor);
}
.arrows {
    width: 8px;
    height: 8px;
    margin-top: 10px;
    margin-left: 3px;
}
.arrow img {
    width: 100%;
}
.cpns:hover {
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: .3);
}
.cpn-wrp {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
}
.crd {
    width: 405px;
    margin: 10px;
    padding: 15px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    transition: all linear 0.2s;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: .2);
}
.crd:hover {
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: .3);
}
.img-bar {
    width: 200px;
    // height: 90px;
    padding: 10px;
    display: block;
    border-radius: 5px;
    border: 2px solid #006780;
}
.img-bar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    
}
.crd-hdng {
    font-size: 15px;
    // margin-bottom: 0;
    color: color(primaryTextColor);
}
.content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    justify-content: space-between;
}
.exclsve {
    font-weight: weights(bold);
    color: #FF5050;
    margin-bottom: 10px;
}
.vrifide {
    font-weight: weights(bold);
    color: #29A745;
}
.t-wrp {
    display: flex;
    text-align: center;
    justify-content: flex-start;
}
h5 {
    margin: 0;
    padding-top: 5px;
    font-size: 15px;
    color: color(primaryTextColor);
}
.arrow {
    width: 8px;
    height: 8px;
    margin-top: 10px;
    margin-left: 3px;
}
.arrow img {
    width: 100%;
}
.crd-btn {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: inline-block;
    background-color: white;
    font-weight: weights(bold);
    color: color(primaryTextColor);
    border: 2px solid color(secondaryColor);
}
.crd-btn::after {
    top: 0;
    left: 0;
    content: "";
    width: 142%;
    height: 628%;
    position: absolute;
    transition: all .6s ease-in-out;
    background: color(secondaryColor);
    transform: translateX(-115%) translateY(-25%) rotate(45deg);
}
.crd-btn:hover::after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.crd-btn:hover {
    color: white;
}
.crd-btns {
    width: 150px;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    text-align: center;
    display: inline-block;
    background-color: white;
    font-weight: weights(bold);
    color: color(primaryTextColor);
    border: 2px solid color(primaryColor);
}
.crd-btns::after {
    top: 0;
    left: 0;
    content: "";
    width: 145%;
    height: 628%;
    position: absolute;
    transition: all .6s ease-in-out;
    background: color(primaryColor);
    transform: translateX(-111%) translateY(-25%) rotate(45deg);
}
.crd-btns:hover::after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.crd-btns:hover {
    color: white;
}