.header {
  padding: 20px;
  background-color: color(primaryColor);
  border-bottom: 1px solid rgba($color: white, $alpha: .7);
}
.Wrp {
  margin: 0 auto;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.logo {
  display: none;
}
.logo-wht {
  width: 200px;
  display: block; 
}
.logo-wht img {
  width: 100%;
}
.links {
  display: flex;
  align-items: center;
  margin: 0;
}
.nv-lnk {
  color: white;
  padding: 10px 25px;
  position: relative;
  display: inline-block;
  text-align: center;
}
.nv-lnk::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nv-lnk:hover::after {
  width: 100%;
  left: 0;
  color: white;
}
.srch-icn {
  width: 20px;
  height: 20px; 
  display: block;
  .img {
    width: 100%;
  }
}