.nwsltr {
    padding: 30px;
}
.Wrp {
    margin: 0 auto;
}
.wrapr {
    display: flex;
}
.image {
    width: 400px;
}
.image img {
    width: 100%;
}
.srch-wrp {
    flex: 1;
    width: 100%;
    text-align: center;
}
.nws-hdng {
    font-size: 32px;
}
.nws-sd {
    width: 100%;
    display: flex;
    padding: 4px;
    border-radius: 50px;
    border: 2px solid color(primaryColor);
}
.srch-br {
    flex: 1;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    border-radius: 50px;
}
.nwsBtn {
    width: 130px;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: weights(bold);
    background-color: color(secondaryColor);
}
.nws-p {
    padding-bottom: 15px;
}
.txt {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0;
}


@media(max-width:991px) {
    .wrapr {
        flex-direction: column;
    }
}