.rating {
  --rc: #efa901;
  border: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;

  > label {
    margin: 0;
    display: inline-block;
    color: #ccc;
    cursor: pointer;
    padding: 0;

    &:before {
      font-family: $icomoon-font-family;
      font-size: 16px;
      display: inline-block;
      content: $bp_star;
      color: var(--rc);
    }

    &.RateActive {
      color: var(--rc);
    }
  }

  > input {
    display: none;
  }

  p {
    font-size: 13px;
    margin-left: 15px;
  }
}
