.wdgt-sd {
  width: 300px;
  padding: 15px 0;
}
.wdgt-str {
  margin-bottom: 20px;
}
h3 {
  padding-left: 10px;
}
.wrpr {
  display: flex;
  flex-wrap: wrap;
}
.logo-img {
  width: 130px;
  height: 70px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid color(borderColor);
  img {
    width: 100%;
    object-fit: cover;
  }
}
.ctg-lnk {
  padding: 10px;
  text-align: center;
  margin: 5px 6px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba($color: #000000, $alpha: .2);
  transition: all linear 0.3s;
}
.ctg-lnk:hover {
  background-color: color(primaryColor);
  color: white;
}
.ltr-wrp {
  display: flex;
  flex-wrap: wrap;
}
.ctg-link {
  margin: 5px;
  padding: 8px;
  color: color(primaryTextColor);
  border-radius: 3px;
  text-decoration: none;
  transition: all linear 0.2s;
  box-shadow: 0 0 5px rgba($color: #000000, $alpha: .2);
}
.ctg-link:hover {
  color: white;
  background-color: color(primaryColor);
}


@media(max-width:991px) {
  .wdgt-sd {
    display: none;
  }
}